*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    background-color:rgb(147, 244, 125) ;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    row-gap: 10px;
}

.board{
    width:90vmin;
    height:80vmin;
    background: linear-gradient(rgb(221, 239, 131),rgba(228, 228, 66, 0.743));
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.snake-head{
    background-color: brown;
}

.snake-body{
    background-color: rgb(238, 54, 54);
}

.food{
    background-color:blue;
}


.score-show{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.touch-buttons{
    display: none;
}


@media only screen and (min-width:200px) and (max-width:567px){
    .touch-buttons{
        width:60%;
        padding: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        height: 30%;

    }
    .side{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .dir{
        flex-basis: 100%;
        flex-grow: 1;
        width: 60px;
    }
}